
@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit-Light.otf') format("opentype");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit.otf') format("opentype");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit-Medium.otf') format("opentype");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit-Bold.otf') format("opentype");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
