.about__container {
	gap: 250px;
	padding: 150px 30px 70px;
}

.about__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.06em;
	color: #22356F;
}

.about__content {
	max-width: 43%;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.005em;
	color: #22356F;
}