.facts__container {
	padding: 77px 30px;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	grid-template-rows: repeat(2, minmax(150px, 1fr));
	gap: 90px 190px;
}

.facts__title {
	padding: 0 0 30px 0;
	font-weight: 400;
	font-size: 28px;
	line-height: 35px;
	color: #22356F;
}

.facts__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: -0.03em;
	color: #22356f80;
}

