

.health__down {
	min-height: 400px;
	background: linear-gradient(to right, #62D0DF 50%, #8F00FF 50%);
	background-repeat: no-repeat;
	background-size: 100% 480px;
	background-position: 100% 100%;
}

.health__down__list {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.health__down__item {
	position: relative;
	height: 480px;

	span {
		display: block;
		position: absolute;
		top: 72px;
		left: 50%;
		transform: translate(-50%);
		width: 250px;
		height: 1px;
		background: #FFFFFF;
	}

	.dott {
		position: absolute;
		top: 105px;
		left: 100px;
		width: 12px;
		height: 12px;
		background-color: #E9B730;
		border: 1px solid #E9B730;
		border-radius: 50%;
	}

	p {
		padding: 95px 0 210px;
		font-weight: 700;
		font-size: 32px;
		line-height: 29px;
		letter-spacing: -0.006em;
		color: #FFFFFF;
		text-align: center;
	}
}

.item_lavanda {
	background: #DEE1FF;
}

.item_violet {
	background: #8F00FF;
}