

.health__up {
	min-height: 400px;
	background:linear-gradient(to right, #22356F 50%, #76B58B 50%);
	background-repeat: no-repeat;
	background-size: 100% 480px;
	background-position: 100% 100%;
}

.health__up__list {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.health__up__item {
	position: relative;
	height: 480px;

	span {
		display: block;
		position: absolute;
		top: 72px;
		left: 50%;
		transform: translate(-50%);
		width: 250px;
		height: 1px;
		background: #FFFFFF;
	}

	.dott {
		position: absolute;
		top: 105px;
		left: 80px;
		width: 12px;
		height: 12px;
		background-color: #E9B730;
		border: 1px solid #E9B730;
		border-radius: 50%;
	}

	.dott__last {
		left: 110px;
	}

	p {
		padding: 95px 0 210px;
		font-weight: 700;
		font-size: 32px;
		line-height: 29px;
		letter-spacing: -0.006em;
		color: #FFFFFF;
		text-align: center;
	}
}

.item_darkBlue {
	background: #22356F;
}
.item_darkGreen {
	background: #76B58B;
}