.hero {
	height: 100vh;
	background: linear-gradient(to right, #F4F9E2 80%, #EDFDFF 20%);
	padding: 114px 0 70px 0;
	overflow: hidden;
}

.hero__container {
	gap: 40px;
}

.hero__content {
	padding-top: 164px;

	.hero__logo {
		padding: 0 0 45px 0;
		font-weight: 700;
		font-size: 24px;
		line-height: 23px;
		letter-spacing: -0.035em;
		color: #62D0DF;
	}

	.hero__title {
		padding: 0 0 105px 0;
		max-width: 35%;
		font-weight: 700;
		font-size: 48px;
		line-height: 45px;
		letter-spacing: -0.035em;
		color: #22356F;
	}

	.hero__text {
		max-width: 37%;
		padding: 0 0 65px 0;
		font-weight: 400;
		font-size: 24px;
		line-height: 45px;
		color: #22356F;
	}

	.hero__button {
		padding: 20px 30px;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.1em;
		color: #FAB63E;

		&:last-child {
			margin-left: 45px;
		}

		&:hover {
			color: #FFFFFF;
			background: #F9B640;
		}
	}
}

.hero__image {
	position: relative;
	top: -50px;
	right: 640px;
	width: 10px;
}


